// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
.judulkarakteristik
	background green
	
body	
	background-color: #73B2E7
	margin: 0 auto
	font-family: Inconsolata

section.bespoke-slide
	background-color: #73B2E7
	color: #fff
	width: 800px
	margin-left: -400px

h3
	color: #fff

.h2karakter
	color:  blue
	


.ulli1
	color yellow

.judulcarakerja
	background #64DD17
		
.h2cara
	color #33691E

.judulimplementasi
	background #18FFFF
	
.judulimplementasi h2
	color #006064
	
.ulli2
	color #FF5252

ul.salah
	color: #BA3333
	font-weight: bold

h1.start, p.start
	color: #0FAE0F

h1.stop, p.stop
	color: #DF4B4B
	
.judulmanfaat
	background #FB8C00
