doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Internet Of Things

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Internet Of Things

      section
        p Internet of thingking adalah sebuah konsep yang bertujuan untuk memperluas manfaat dari konektivitas internet yang tersambung secara terus menerus.

      section
        p Pada dasarnya sendiri IoT mengacu pada benda yang dapat diidentifikasikan secara unik sebagai representasi virtual dalam struktur berbasis internet.

      section
        p.black Ada 3 aspek yang mendukung terlaksananya IoT
        ul
          li Manusia
          li Teknologi dan Infrastruktur

      section
        h1 Kiat Membangun Produk
    
      section
        h3 Punya aplikasi yang tidak pernah digunakan?  
        h3 Apa yang salah?
        ul.salah
          li Nama Produk
          li Cara Memasarkan Produk		  
          li Target Pasar		  

      section
        h1 Target Pasar

      section
        h1 BBM
        img(src="images/bbm-logo-square.png")

      section
        h1 Whatsapp
        img(src="images/whatsapp.jpg" width="400" style="padding-top: 10px")		

      section
        h1 Kakatu
        img(src="images/kakatu.jpg")

      section
        h1 Line
        img(src="images/line.png" width="400" height="500" style="padding-top: 10px")		

      section
        h1.stop STOP BUILDING THE COOL APPS!
        p.stop  (technically awesome)

      section
        h1.start START BUILDING THE RIGHT APPS!  			
        p.start (solving the real problem of user)

    script(src='build/build.js')
