doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Internet Of Things

      section
        p Internet of thingking adalah sebuah konsep yang bertujuan untuk memperluas manfaat dari konektivitas internet yang tersambung secara terus menerus. Pada dasarnya sendiri IoT mengacu pada benda yang dapat diidentifikasikan secara unik sebagai representasi virtual dalam struktur berbasis internet.

      section
        p Banyak yamng memprediksikan bahwa IoT  akan menjadi "The next big thing" di dunia teknologi. Contoh sederhana IoT kulkas yang dapat memberitahukan pemiliknya via sms atau email tentang makanan dan minuman yang harus distok lagi.

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Internet Of Things
        h3 Lanjutan
      section.emphatic-text(data-bespoke-backdrop='judulkarakteristik').judulkarakteristik
        h2.h2karakter Karakteristik IoT

        ul.ulli1
          li
          li Ambient Intelligence
          li Event Driven
          li Complex Access Technologies
          li flexible structure
          li semantic sharing
      section.emphatic-text(data-bespoke-backdrop='judulcarakerja').judulcarakerja
        h2.h2cara Bagaimana Cara Kerja IoT?
      section.emphatic-text(data-bespoke-backdrop='judulimplementasi').judulimplementasi
        h2 Teknologi pengimplementasian IoT
        ul.ulli2
          li
          li Barcode (Kode Batang)
          li QR Code (Kode QR)
          li RFID
      section.emphatic-text(data-bespoke-backdrop='judulmanfaat').judulmanfaat
        h2 Manfaat IoT?

      
    script(src='build/build.js')
