doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        h1 Internet Of Things

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        p Internet of thingking adalah sebuah konsep yang bertujuan untuk memperluas manfaat dari konektivitas internet yang tersambung secara terus menerus.

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        p Pada dasarnya sendiri IoT mengacu pada benda yang dapat diidentifikasikan secara unik sebagai representasi virtual dalam struktur berbasis internet.

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        p.black Ada 3 aspek yang mendukung terlaksananya IoT
        ul
          li Manusia
          li Teknologi dan Infrastruktur

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        h1 Kiat Membangun Produk
    
      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        h3 Punya aplikasi yang tidak pernah digunakan?  
        h3 Apa yang salah?
        ul.salah
          li Nama Produk
          li Cara Memasarkan Produk		  
          li Target Pasar		  
      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        h1.stop STOP BUILDING THE COOL APPS!
        p.stop  (technically awesome)

      section.emphatic-text(data-bespoke-backdrop='section.bespoke-slide').section.bespoke-slide
        h1.start START BUILDING THE RIGHT APPS!  			
        p.start (solving the real problem of user)

      section.emphatic-text(data-bespoke-backdrop='judulkarakteristik').judulkarakteristik
        h2.h2karakter Karakteristik IoT
        ul.ulli1
          li
          li Ambient Intelligence
          li Event Driven
          li Complex Access Technologies
          li flexible structure
          li semantic sharing
      section.emphatic-text(data-bespoke-backdrop='judulcarakerja').judulcarakerja
        h2.h2cara Bagaimana Cara Kerja IoT?
      section.emphatic-text(data-bespoke-backdrop='judulimplementasi').judulimplementasi
        h2 Teknologi pengimplementasian IoT
        ul.ulli2
          li
          li Barcode (Kode Batang)
          li QR Code (Kode QR)
          li RFID
      section.emphatic-text(data-bespoke-backdrop='judulmanfaat').judulmanfaat
        h2 Manfaat IoT?
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
